<div class="text-center">
  <h2><%= @survey.title %></h2>
</div>

<form id="answers" action="/surveys/<%= @survey.id %>/questions/<%= question.id %>/answers/" method="post">


<%= @questions.each do |question| %>
  <tr>
    <td>
      <%= question.text %>
    </td>
  </tr>
  <tr>
    <td>
      <label for="answer" type="hidden"></label>
      <input type="area" name="answer" value="" placeholder="your answer here">
    </td>
  </tr>
<%= end %>

</form>
